<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>WTForms Practic</title>
</head>
<style>
h1{text-align: center}
    h4{padding: 20px}
div{
  width: 40%;
  float: left;
  padding: 10px;
  border: 2px solid silver;
}
li{
margin-bottom: 15px
}
ul{
margin-bottom: 15px; border: 1px solid black;
}
mark{color:red; font-size: 1.4em}
</style>
<body>
<h1>WTForms Practice</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div>
       <ul>
        <li><a href="{{ url_for('drop_all') }}" >drop_all</a>
            <br>(the db.drop_all method)
        </li>
        <li><a href="{{ url_for('create_all') }}" >create_all </a>
            <br>(the db.create_all method)
        </li>
           <li><a href="{{ url_for('add_students') }}" >add_students</a><br>(A <mark>WTForm</mark> For Creating A Student WITHOUT Nickname Option)<br>
        </li>
           <li><a href="{{ url_for('add_students_with_nn_option') }}" >add_students_with_nn_option</a><br>(A <mark>WTForm</mark> To Create A Student WITH Nickname Option)<br>
        </li>
        <li><a href="{{ url_for('update_student') }}" >update_student</a>
            <br>(A <mark>WTForm</mark> To UPDATE Student WITH Nickname Option -- uses the student whose student.id=1 )
        </li>
        <li><a href="{{ url_for('select_students') }}" >select_students</a>
            <br>Show all the students in the db
        </li>
    </ul>
    <ul>
        <li><a href="{{ url_for('add_courses') }}" >add_courses</a>
            <br>Add two courses: Anthro 1000 and English 1100
        </li>
        <li><a href="{{ url_for('enroll_students') }}" >enroll_students</a>
            <br>(A <mark>WTform</mark> to Enroll A Student In Courses -- uses the student whose student.id=1)
        </li>
        </li>
            <li><a href="{{ url_for('show_student_enrollments') }}" >show_student_enrollments</a>
            <br>Show enrollments for the student whose student.id=1
        </li>
    </ul>
</div>
<div>
   <h4>{{message|safe}}</h4>
</div>



</body>
</html>